@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Rubik&display=swap');
body,
html {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: black;
    margin: 0;
}

html:before {
    position: fixed;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 0px 320px black inset;
    pointer-events: none;
    z-index: 1000;
}

#scene {
    pointer-events: all !important;
}

h2 {
    font-family: 'Baloo 2', cursive;
    font-family: 'Rubik', sans-serif;
}

.Luik {
    margin-top: 25%;
    margin-left: 80%;
    background-image: url("assets/5luik.png");
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
    height: 300px;
    width: 500px;
}

.Luik:hover {
    border-radius: 20px;
}

.TBH {
    margin-top: 20%;
    margin-left: 45%;
}

.jipKnol {
    margin-top: 20%;
    margin-left: 22%;
}

.DataVisTwitch {
    margin-top: -20%;
    margin-left: 15%;
}

.port {
    margin-top: -30%;
    margin-left: 45%;
}

.PhpLogin {
    margin-top: -10%;
    margin-left: 55%;
}

.Todo {
    margin-top: -55%;
    margin-left: 40%;
}

.DataVis {
    margin-top: 19%;
    margin-left: 10%;
}

.stackCity {
    margin-top: -19%;
    margin-left: -16%;
}

.ikea {
    margin-left: -10%;
}

img {
    border-radius: 5px;
}

img:hover {
    border-radius: 20px;
}

.txt {
    color: white;
    position: absolute;
    font-size: 300px;
    text-align: center;
    top: 20%;
    left: 20%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor {
    height: 100%;
    padding: 5% 0;
}

h1 {
    color: #FCFBFA;
}

.proj {
    background-color: gray;
    border-radius: 10%;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    float: right;
}

.container_foto {
    box-sizing: border-box;
    background-color: black;
    padding: 0;
    overflow: hidden;
    max-width: 500px;
    width: 500px;
    margin: 5px;
    position: relative;
    height: 300px;
}

.container_foto article {
    padding: 2%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.container_foto h2 {
    color: #fff;
    font-weight: 800;
    font-size: 45px;
    margin: 0;
}

.container_foto img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.ver_mas {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 70px);
    -webkit-transform: translate(0px, 70px);
    -moz-transform: translate(0px, 70px);
    -o-transform: translate(0px, 70px);
    -ms-transform: translate(0px, 70px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.ver_mas a {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.back-icon {
    margin: 10px;
    width: 60px;
    height: 60px;
    z-index: 1000;
}

.ver_mas span {
    font-size: 40px;
    color: #fff;
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: 13px;
}


/*hovers*/

.container_foto:hover {
    cursor: pointer;
}

.container_foto:hover img {
    opacity: 0.5;
    transform: scale(1.5);
}

.container_foto:hover article {
    transform: translate(2px, -69px);
    -webkit-transform: translate(2px, -69px);
    -moz-transform: translate(2px, -69px);
    -o-transform: translate(2px, -69px);
    -ms-transform: translate(2px, -69px);
}

.container_foto:hover .ver_mas {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    opacity: 1;
}

.back {
    position: fixed;
    z-index: 10000000;
    border-radius: 0px 0px 50px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}


/* hover */

.border-corner {
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 25px;
    animation: pad linear infinite 0.2s;
}

.border-corner:hover::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    animation: wh linear 0.2s;
    border-left: 4px solid #fff;
    border-top: 4px solid #fff;
}

.border-corner:hover::before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    animation: wh linear 0.2s;
    border-right: 4px solid #fff;
    border-top: 4px solid #fff;
}

.border-corner>div:hover::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 30px;
    height: 30px;
    animation: wh linear 0.2s;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.border-corner>div:hover::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 30px;
    height: 30px;
    animation: wh linear 0.2s;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

@keyframes wh {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 30px;
        height: 30px;
    }
}